<!DOCTYPE html>
<html>
<head>
  <title>Photo Gallery</title>
</head>
<body>
  <h1>My Photo Gallery</h1>
  <div>
    <% images.forEach((img) => { %>
      <img 
        src="/images/<%= img %>" 
        alt="photo" 
        width="200"
        style="display:inline-block; margin:10px;"
      >
    <% }) %>
  </div>
  <div>
    <% if (currentPage > 1) { %>
      <a href="/?page=<%= currentPage - 1 %>">Previous</a>
    <% } %>

    <% for(let i = 1; i <= totalPages; i++) { %>
      <a href="/?page=<%= i %>"><%= i %></a>
    <% } %>

    <% if (currentPage < totalPages) { %>
      <a href="/?page=<%= currentPage + 1 %>">Next</a>
    <% } %>
   </div>
</body>
</html>